{% extends 'base_auth.html' %} 
{% load static %}

{% block title %} Authentication - Register {% endblock title %} 

{% block content %}

<div class="form-signin">
<form method="post" action="{% url 'register' %}">
  <!--<img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h3 mb-3 font-weight-normal">Register New Account.</h1>
  {% include "partials/_messages.html" %}
  {% csrf_token %}
  <input name="username" type="text" id="userName" class="form-control" placeholder="Username" value="{{ fieldValues.username }}" required autofocus/>
  <label for="userName" class="sr-only" id="userNameLable" style="display:none;"></label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" value="{{ fieldValues.email }}" required/>
  <label for="inputEmail" class="sr-only" id="emailLable" style="display:none;"></label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required />
  <input name="repassword" type="password" id="inputRePassword" class="form-control" placeholder="Re-enter Password" required />
  <label for="inputPassword" class="sr-only" id="passwordLable" style="display:none;"></label>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
<center><hr/></center>
<button class="btn btn-lg btn-lite btn-block" type="button">Reset Password</button><br>
<button class="btn btn-lg btn-lite btn-block" type="button">Back to Login</button>
<p class="mt-5 mb-3 text-muted">&copy; 2023-2024</p>
</div>

<script src="{% static "js/register.js" %}"></script>
{% endblock content %}
